table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

/* FORMULARIO ONG */
.contacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #aad5fd;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    margin-bottom: 12px;
    border: none;
    border-radius: 6px;
}

.btn {
    padding: 10px;
    background: #65ceff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #1070ff;
}

/* ESTILOS PARA SECTIONS, ARTICLE, HEADINGS Y PARRAFOS */   
.article {
    margin: 20px;
    padding: 20px;
    background: #cddceb;
    border-radius: 10px;
}

.section {
    margin: 30px;
    padding: 30px;
    background: #e5ecf3;
    border-radius: 20px;
}

.h1 {
    color: #5f97ff;
    text-align: center;
    font-size: 40px;
}
.h2 {
    color: #000000;
    text-align: left;
    font-size: 30px;
}
.h3 {
    color: #000000;
    text-align: left;
}

.p{
    color: #000000;
    font-size: 16px;
}