table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

/* FORMULARIO ONG */
.contacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #aad5fd;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    margin-bottom: 12px;
    border: none;
    border-radius: 6px;
}

.btn {
    padding: 10px;
    background: #65ceff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #1070ff;
}